@import url('https://fonts.googleapis.com/css?family=Roboto:100&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 2em;
    background-color: rgb(255, 255, 255);
    text-align: center;
    box-sizing: content-box;
    padding: 50px;
    border-left: 50px solid rgb(0, 37, 59);
    border-right: 50px solid rgb(0, 37, 59);
    border-top: 50px solid rgb(0, 37, 59);
    border-bottom: 50px solid rgb(0, 37, 59);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19);, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}