@import url('https://fonts.googleapis.com/css?family=Roboto:100&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.2em;
    background-color: #22223b;
    color: #ffffff;
    text-align: center;
}

h1 {
    font-size: 40px;
    text-align: center;
    font-weight: lighter;
}

h2 {
    font-size: 22px;
    text-align: center;
}

p {
    font-size: 12px;
    text-align: center;
}

img {
    width: 50%;
    height: auto;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

section {
    font-size: 12px;
    background-color: #ddd1c7;
    padding: 10px;
    width:60%;
    border-radius:5px;
    height:auto;
    margin:50px 20%;
    position:relative;
    border:1px solid #ddd1c7;
    color: black;

    -webkit-box-shadow: 7px 10px 12px -4px rgba(0,0,0,0.3);
    -moz-box-shadow: 7px 10px 12px -4px rgba(0,0,0,0.3);
    box-shadow: 7px 10px 12px -4px rgba(0,0,0,0.3);
}

.label {
    display: inline-block;
    text-align: right;
    width: 40%;
    padding: 5px;
    vertical-align: top;
    vertical-align: middle;
}

.input {
    display: inline-block;
    text-align: left;
    width: 48%;
    vertical-align: middle;
}

.submit {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
