@import url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 2em;
    background-color: rgb(212, 212, 209);
    text-align: center;
    color: black;
}

h1 {
    font-size: 40px;
}

section {
    background-color: white;
    text-align: left;
    padding: 20px;
    width:60%;
    border-radius:5px;
    height:auto;
    margin:50px 20%;
    position:relative;
    border:1px solid #eee;
    color: black;

    -webkit-box-shadow: 7px 10px 12px -4px rgba(0,0,0,0.3);
    -moz-box-shadow: 7px 10px 12px -4px rgba(0,0,0,0.3);
    box-shadow: 7px 10px 12px -4px rgba(0,0,0,0.3);
}

